.smallCard {
  min-width: 252px;
  max-width: 382px;
  /* height: 221px; */
  /* padding: 12px; */
  /* width: 190px;
  height: 198px; */
  height: 198px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 4;
}

.smallHeader {
  width: 100%;
  height: 26px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.smallDataBox {
  display: flex;
  align-items: center;
  max-height: 18px;
  margin-bottom: 4px;
}

.smallDetails {
  /* display: table; */
  font-size: 12px;
}


.smallDetailLineDotBox {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallDetailLineDot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}