.card {
  min-width: 500px;
  width: unset;
  max-width: 1000px;
  min-height: 360px;
  max-height: 500px;
  -webkit-box-flex: 4;
  /* flex-grow: 4; */
  flex-basis: 0px;
  display: flex;
  /* backdrop-filter: blur(20px);
  background-color: rgba(33, 33, 33, 0.267); */
  /* border-radius: 25px; */
  /* border: 1px solid rgba(250, 250, 250, 0.2); */
}

@media (max-width: 499px) {
  .card {
    /* min-width: 200px; */
    width: 100%;
    min-width: 300px;
    min-height: 360px;
    max-height: unset;
  }
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  min-height: 100px;
  position: relative;
  top: -10px;
  left: 20px;
  /* background-color: rgb(82, 215, 255); */
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 35px 0px; */
  transition: background-color 0.5s ease 0s;
}

.detailBox {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

@media (max-width: 599px) {
  .detailBox {
    flex-direction: column-reverse;
    flex: 1 1 auto;
    padding: 20px 0px;
  }

  .children {
    top: 98px !important;
    left: 0px;
  }
}

.pictureBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* min-width: 300px; */
  height: 200px;
  -webkit-box-flex: 0 !important;
  flex-grow: 0 !important;
}

@media (max-width: 199px) {
  .pictureBox {
    width: 50%;
  }
}

.mainTitle {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px 30px 0px;
}

.mainTitle>p {
  font-size: 1.5rem;
  font-weight: bold;
}

.details {
  display: table;
  padding: 10px 30px 15px 12px;
  font-size: 1rem;
  /* color: rgb(250, 250, 250); */
}

.details>div {
  display: table-row;
}

.title {
  display: table-cell;
  width: auto;
  /* font-size: 0.8rem; */
  padding-bottom: 3px;
  padding-right: 15px;
  line-height: 1.5;
  white-space: pre;
}

.digital {
  line-height: 1.5;
  white-space: pre-wrap;
  display: table-cell;
  /* font-size: 1rem; */
  /* font-weight: bold; */
  padding-bottom: 3px;
  width: 100px;
}

.fanButton {
  display: flex !important;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: fixed;
  width: 50%;
  bottom: 10%;
}

.fanButton>div {
  width: 10vh;
  height: 4vh;
  border-radius: 10px;
  margin: 5px;
  background: rgba(250, 250, 250, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.detailLineDot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.config {
  position: absolute;
  right: 20px;
  top: 40px;
}

.multipleChartsBox {
  position: relative;
  flex: 1 1 auto;
  /* min-width: 0px; */
  min-width: 150px;
  min-height: 150px;
  border-radius: 20px;
  right: -15px;
  bottom: -15px;
}

.multipleChartsBox>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 8px;
  place-items: stretch;
  -webkit-box-align: stretch;
  height: 110%;
  width: 100%;
  position: absolute;
  bottom: -10px;
  /* right: -10px; */
  z-index: 1;
}

.chart {
  /* width: 20%;
  height: 50%;
  background-color: red; */
  position: relative;
  display: flex;
  min-width: 0px;
  /* background-color: rgb(33, 33, 33); */
  /* border-radius: 25px 10px 10px; */
  border-radius: 20px;
  z-index: auto;
  transition: background-color 0.3s ease 0s;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  transform: none;
}