.slider {
  width: 180px;
  height: 30px;
}

.slider-lable {
  position: absolute;
  top: -31px;
}

.fanBut {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fanSwitch {
  width: 60px;
  height: fit-content;
  margin-right: 10px;
}